					<!-- Row -->
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default card-view">
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div class="row">
											<div class="col-sm-12 col-xs-12">
												<div class="form-wrap">
													<form action="#">
														<div class="form-body">
															<h6 class="txt-dark capitalize-font">Pengenalan Tempat</h6>
															<hr class="light-grey-hr"/>
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Provinsi</label>
																		<input type="text" class="form-control" name="prov_id" placeholder="Masukan Kode Provinsi" value="{{lihatdatakemiskinan.1}}">
																	</div>
																</div>
																<!--/span-->
																<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Kabupaten</label>
																		<input type="text" class="form-control" name="kab_id" placeholder="Masukan Kode Kabupaten" value="{{lihatdatakemiskinan.2}}">
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Kecamatan</label>
																		<input type="text" class="form-control" name="kec_id" placeholder="Masukan Kode Kecamatan" value="{{lihatdatakemiskinan.3}}">
																	</div>
																</div>
																<!--/span-->
															<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Desa/Kelurahan</label>
																		<input type="text" class="form-control" name="desa_id" placeholder="Masukan Kode Desa/Kelurahan" value="{{lihatdatakemiskinan.4}}">
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Nama SLS</label>
																		<input type="text" class="form-control" name="nama_sls" placeholder="Masukan Nama SLS" value="{{lihatdatakemiskinan.5}}">
																	</div>
																</div>
																<!--/span-->
																
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Alamat</label>
																		<input type="text" class="form-control" name="alamat" placeholder="Masukan Alamat" value="{{lihatdatakemiskinan.6}}">
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">No Urut Rumah Tangga</label>
																		<input type="text" class="form-control" name="no_urut_rt" placeholder="Masukan No Urut Rumah Tangga" value="{{lihatdatakemiskinan.7}}">
																	</div>
																</div>
																<!--/span-->
																
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Nama Kepala Rumah Tangga</label>
																		<input type="text" class="form-control" name="nama_kepala_rt" placeholder="Masukan Nama Kepala Rumah Tangga" value="{{lihatdatakemiskinan.8}}">
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Jumlah Anggota Rumah Tangga</label>
																		<input type="text" class="form-control" name="jumlah_art" placeholder="Masukan Jumlah Anggota Rumah Tangga" value="{{lihatdatakemiskinan.9}}">
																	</div>
																</div>
																<!--/span-->
																
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Jumlah Keluarga</label>
																		<input type="text" class="form-control" name="jumlah_keluarga" placeholder="Masukan Jumlah Keluarga" value="{{lihatdatakemiskinan.10}}">
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->

															<div class="seprator-block"></div>
															
															<h6 class="txt-dark capitalize-font">Keterangan Petugas dan Responden</h6>
															<hr class="light-grey-hr"/>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Tanggal Pencacahan</label>
																		<input type="text" class="form-control" name="tgl_pencacahan" placeholder="Masukan Tanggal Pencacahan (Tanggal/Bulan/Tahun)">
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Nama Pencacah</label>
																		<input type="text" class="form-control" name="nama_pencacah" placeholder="Masukan Nama Pencacah">
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Tanggal Pemeriksaan</label>
																		<input type="text" class="form-control" name="tgl_pemeriksaan" placeholder="Masukan Tanggal Pemeriksaan">
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Nama Pemeriksa</label>
																		<input type="text" class="form-control" name="nama_pemeriksa" placeholder="Masukan Nama Pemeriksa">
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<!-- /Row -->
															<div class="row">
																<div class="col-md-12">
																	<div class="form-group">
																		<label class="control-label mb-10">Hasil Pencacahan Rumah Tangga</label>
																		<select class="form-control" name="hasil_pencacahan_rt">
																			<option value="Selesai dicacah">Selesai dicacah</option>
																			<option value="Rumah tangga tidak ditemukan">Rumah tangga tidak ditemukan</option>
																			<option value="Rumah tangga pindah/bangunan sensus sudah tidak ada">RT Pindah / Bangunan Sensus Sudah Tidak Ada</option>
																			<option value="Bagian dari rumah tangga di dokumen PBDT2015.FKP">Bagian dari rumah tangga di dokumen PBDT2015.FKP</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
																
															</div>
															<!-- /Row -->
															<div class="seprator-block"></div>	
															<h6 class="txt-dark capitalize-font">Keterangan Perumahan</h6>
															<hr class="light-grey-hr"/>
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Status bangunan tempat tinggal yang ditempati</label>
																		<select class="form-control" name="kepemilikan_bangunan">
																			<option value="Milik sendiri">Milik Sendiri</option>
																			<option value="Sewa/kontrak">Kontrak/sewa</option>
																			<option value="Bebas sewa">Bebas sewa</option>
																			<option value="Dinas">Dinas</option>
																			<option value="Lainnya">Lainnya</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Status lahan yang ditempati</label>
																		<select class="form-control" name="status_lahan">
																			<option value="Milik sendiri">Milik sendiri</option>
																			<option value="Milik orang lain">Milik orang lain</option>
																			<option value="Tanah Negara">Tanah negara</option>
																			<option value="Lainnya">Lainnya</option>
																			<option value="Tidak diisi">Tidak diisi</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Luas Lantai</label>
																		<input type="text" class="form-control" name="luas_lantai" placeholder="Masukan Luas Lantai (dalam m2)">
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Jenis Lantai Terluas</label>
																		<select class="form-control" name="jenis_lantai_terluas">
																			<option value="Marmer/granit">Marmer/granit</option>
																			<option value="Keramik">Keramik</option>
																			<option value="Parket/vinil/permadani">Parket/vinil/permadani</option>
																			<option value="Ubin/tegel/teraso">Ubin/tegel/teraso</option>
																			<option value="Kayu/papan kualitas tinggi">Kayu/papan kualitas tinggi</option>
																			<option value="Semen/bata merah">Semen/bata merah</option>
																			<option value="Bambu">Bambu</option>
																			<option value="Kayu/papan kualitas rendah">Kayu/papan kualitas rendah</option>
																			<option value="Tanah">Tanah</option>
																			<option value="Lainnya">Lainnya</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Jenis Dinding Terluas</label>
																		<select class="form-control" name="jenis_dinding_terluas">
																			<option value="Tembok">Tembok</option>
																			<option value="Plesteran anyaman bambu/kawat">Plesteran anyaman bambu/kawat</option>
																			<option value="Kayu">Kayu</option>
																			<option value="Anyaman bambu">Anyaman bambu</option>
																			<option value="Batang kayu">Batang kayu</option>
																			<option value="Bambu">Bambu</option>
																			<option value="Lainnya">Lainnya</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Kondisi Dinding Tembok, Plesteran anyaman bambu, Kayu </label>
																		<select class="form-control" name="kualitas_dinding123">
																			<option value="">Tidak ada</option>
																			<option value="Bagus/kualitas tinggi">Bagus/kualitas tinggi</option>
																			<option value="Jelek/kualitas rendah">Jelek/kualitas rendah</option>
																			<option value="Tidak diisi">Tidak diisi</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Jenis Atap Terluas</label>
																		<select class="form-control" name="jenis_atap_terluas">
																			<option value="Beton/genteng beton">Beton/genteng beton</option>
																			<option value="Genteng keramik">Genteng keramik</option>
																			<option value="Genteng metal">Genteng metal</option>
																			<option value="Genteng tanah liat">Genteng tanah liat</option>
																			<option value="Asbes">Asbes</option>
																			<option value="Seng">Seng</option>
																			<option value="Sirap">Sirap</option>
																			<option value="Bambu">Bambu</option>
																			<option value="Jerami/ijuk/daundaunan/rumbia">Jerami/ijuk/daun daunan/rumbia</option>
																			<option value="Lainnya">Lainnya</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Kondisi Atap Genteng beton, keramik, metal, tanah liat, asbes, seng, sirap </label>
																		<select class="form-control" name="kualitas_atap1234567">
																			<option value="">Tidak ada</option>
																			<option value="Bagus/kualitas tinggi">Bagus/kualitas tinggi</option>
																			<option value="Jelek/kualitas rendah">Jelek/kualitas rendah</option>
																			<option value="Tidak diisi">Tidak diisi</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-12">
																	<div class="form-group">
																		<label class="control-label mb-10">Jumlah Kamar Tidur</label>
																		<input type="text" class="form-control" name="jml_kamartidur" placeholder="Masukan Jumlah Kamar Tidur">
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Sumber Air Minum</label>
																		<select class="form-control" name="sumber_air_minum">
																			<option value="Air kemasan bermerk">Air kemasan bermerk</option>
																			<option value="Air isi ulang">Air isi ulang</option>
																			<option value="Leding meteran">Leding meteran</option>
																			<option value="Leding eceran">Leding eceran</option>
																			<option value="Sumur bor/pompa">Sumur bor/pompa</option>
																			<option value="Sumur terlindung">Sumur terlindung</option>
																			<option value="Sumur tak terlindung">Sumur tak terlindung</option>
																			<option value="Mata air terlindung">Mata air terlindung</option>
																			<option value="Mata air tak terlindung">Mata air tak terlindung</option>
																			<option value="Air sungai/danau/waduk">Air sungai/danau/waduk</option>
																			<option value="Air hujan">Air Hujan</option>
																			<option value="Lainnya">Lainnya</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Cara Memperoleh Air Minum</label>
																		<select class="form-control" name="cara_memperoleh_air_minum">
																			<option value="Membeli eceran">Membeli eceran</option>
																			<option value="Langganan">Langganan</option>
																			<option value="Tidak membeli">Tidak membeli</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
															<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Sumber Penerangan Utama</label>
																		<select class="form-control" name="sumber_penerangan">
																			<option value="Listik PLN">Listrik PLN</option>
																			<option value="Listik non PLN">Listrik non PLN</option>
																			<option value="Bukan listrik">Bukan listrik</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Jika Sumber Penerangan Listrik PLN berapa daya terpasang</label>
																		<select class="form-control" name="daya_listrik">
																			<option value="tidak diisi">Tidak diisi</option>
																			<option value="450 watt">450 watt</option>
																			<option value="900 watt">900 watt</option>
																			<option value="1300 watt">1.300 watt</option>
																			<option value="2200 watt">2.200 watt</option>
																			<option value=">2200 watt">> 2.200 watt</option>
																			<option value="Tanpa meteran">Tanpa meteran</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Bahan bakar utama untuk memasak</label>
																		<select class="form-control" name="bahan_bakar_masak">
																			<option value="Listrik">Listrik</option>
																			<option value="Gas > 3kg">Gas > 3 kg</option>
																			<option value="Gas 3kg">Gas 3 kg</option>
																			<option value="Gas kota/biogas">Gas kota/biogas</option>
																			<option value="Minyak tanah">Minyak tanah</option>
																			<option value="Briket">Briket</option>
																			<option value="Arang">Arang</option>
																			<option value="Kayu bakar">Kayu bakar</option>
																			<option value="Tidak memasak dirumah">Tidak memasak di rumah</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Penggunaan fasilitas tempat BAB</label>
																		<select class="form-control" name="fasilitas_bab">
																			<option value="Sendiri">Sendiri</option>
																			<option value="Bersama">Bersama</option>
																			<option value="Umum">Umum</option>
																			<option value="Tidak ada">Tidak ada</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Jenis kloset</label>
																		<select class="form-control" name="jenis_kloset">
																			<option value="">Tidak diisi</option>
																			<option value="Leher angsa">Leher angsa</option>
																			<option value="Plengsengan">Plengsengan</option>
																			<option value="Cemplung/cubluk">Cemplung/cubluk</option>
																			<option value="Tidak pakai">Tidak Pakai</option>
																			<option value="Tidak diisi">Tidak diisi</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Tempat pembuangan akhir tinja</label>
																		<select class="form-control" name="tpa_tinja">
																			<option value="Tangki">Tangki</option>
																			<option value="SPAL">SPAL</option>
																			<option value="Lubang tanah">Lubang tanah</option>
																			<option value="Kolam/sawah/sungai/danau/laut">Kolam/sawah/sungai/danau/laut</option>
																			<option value="Pantai/tanah lapang/kebun">Pantai/tanah lapang/kebun</option>
																			<option value="Lainnya">Lainnya</option>
																		</select>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-12">
																	
																</div>
																<!--/span-->
																
															</div>
															<!-- /Row -->

															<div class="seprator-block"></div>
															
															<h6 class="txt-dark capitalize-font">Kepemilikan Aset dan Keikutsertaan Program</h6>
															<hr class="light-grey-hr"/>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-12">
																	<div class="form-group">
																		<label class="control-label mb-10">Rumah tangga memiliki sendiri aset bergerak sebagai berikut: </label>
																	</div>
																</div>
																<!--/span-->
																
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Tabung gas 5,5 kg atau lebih</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="tabung_gas_5_5kg_lebih" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="tabung_gas_5_5kg_lebih" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Lemari es/kulkas</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="kulkas" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="kulkas" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">AC</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="ac" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="ac" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Pemanas air (water heater)</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="pemanas_air" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="pemanas_air" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Telp rumah (PSTN)</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="telp_rumah" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="telp_rumah" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Televisi</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="televisi" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="televisi" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Emas/perhiasan & tabungan (senilai 10 gram emas)</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="emas_perhiasan_tabungan" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="emas_perhiasan_tabungan" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Komputer/laptop</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="komputer" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="komputer" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Sepeda</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="sepeda" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="sepeda" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Sepeda motor</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="sepeda_motor" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="sepeda_motor" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Mobil</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="mobil" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="mobil" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Perahu</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="perahu" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="perahu" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Motor tempel</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="motor_tempel" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="motor_tempel" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Perahu motor</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="perahu_motor" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="perahu_motor" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Kapal</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="kapal" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="kapal" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
														<div class="seprator-block"></div>
															<div class="row">
																<div class="col-md-12">
																	<div class="form-group">
																		<label class="control-label mb-10">Rumah tangga memiliki aset tidak bergerak sebagai berikut: </label>
																	</div>
																</div>
																<!--/span-->
																
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Lahan</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="aset_lahan" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="aset_lahan" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Jika Ya, berapa lahan yang dimiliki</label>
																		<input type="text" class="form-control" name="isi_lahan"  placeholder="Masukan Jumlah Lahan yang dimiliki">
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Rumah di tempat lain</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="rumah_ditempat_lain" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="rumah_ditempat_lain" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="seprator-block"></div>
															<div class="row">
																<div class="col-md-12">
																	<div class="form-group">
																		<label class="control-label mb-10">Jumlah ternak yang dimiliki (ekor): </label>
																	</div>
																</div>
																<!--/span-->
																
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Sapi</label>
																		<input type="text" class="form-control" name="jumlah_sapi" placeholder="Masukan jumlah sapi yang dimiliki (ekor)">
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Kerbau</label>
																		<input type="text" class="form-control" name="jumlah_kerbau" placeholder="Masukan jumlah kerbau yang dimiliki (ekor)">
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Kuda</label>
																		<input type="text" class="form-control" name="jumlah_kuda" placeholder="Masukan jumlah kuda yang dimiliki (ekor)">
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Babi</label>
																		<input type="text" class="form-control" name="jumlah_babi" placeholder="Masukan jumlah babi yang dimiliki (ekor)">
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Kambing/domba</label>
																		<input type="text" class="form-control" name="jumlah_kambing_domba" placeholder="Masukan jumlah kambing/domba yang dimiliki (ekor)">
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
														<div class="seprator-block"></div>
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Apakah ada ART yang memiliki usaha sendiri/bersama?</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="art_memiliki_usaha_sendiri_bersama" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="art_memiliki_usaha_sendiri_bersama" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Jika Ya, tuliskan usahanya</label>
																		<input type="text" class="form-control" name="	isi_usaha"  placeholder="Masukan Usaha yang dimiliki">
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
														<div class="seprator-block"></div>
															<div class="row">
																<div class="col-md-12">
																	<div class="form-group">
																		<label class="control-label mb-10">Rumah tangga menjadi peserta program/memiliki kartu program berikut: </label>
																	</div>
																</div>
																<!--/span-->
																
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Kartu Keluarga Sejahtera (KKS)/Kartu Perlindungan Sosial (KPS)</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="kks_kps" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="kks_kps" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Kartu Indonesia Pintar (KIP)/Bantuan Siswa Miskin (BSM)</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="bip_bsm" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="kip_bsm" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Kartu Indonesia Sehat (KIS)/BPJS Kesehatan/Jamkesmas</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="kis_bpjs_jamkesmas" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="kis_bpjs_jamkesmas" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">BPJS Kesehatan peserta mandiri</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="bpjs_mandiri" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="bpjs_mandiri" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Jaminan sosial tenaga kerja (Jamsostek)/BPJS ketenagakerjaan</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="jamsostek_bpjs_ketenagakerjaan" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="jamsostek_bpjs_ketenagakerjaan" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Asuransi kesehatan lainnya</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="asuransi_kesehatan_lainnya" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="asuransi_kesehatan_lainnya" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Program Keluarga Harapan (PKH)</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="pkh" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="pkh" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Beras untuk orang miskin (Raskin)</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="raskin" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="raskin" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Kredit Usaha Rakyat (KUR)</label>
																		<div class="radio-list">
																			<div class="radio-inline pl-0">
																				<span class="radio radio-info">
																					<input type="radio" name="kur" value="Ya">
																			<label for="radio_5">Ya</label>
																			</span>
																			</div>
																			<div class="radio-inline">
																				<span class="radio radio-info">
																					<input type="radio" name="kur" value="Tidak">
																			<label for="radio_6">Tidak </label>
																			</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
														<div class="form-actions mt-10">
															<button type="submit" name="subject" value="simpandata" class="btn btn-success  mr-10"> Tambah Data</button>
															<button type="submit" name="subject" value="kembali" class="btn btn-default">Kembali</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>		
						</div>
					</div>
					<!-- /Row -->