		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="mobile-only-brand pull-left">
				<div class="nav-header pull-left">
		          <div class="logo-wrap">
		            <a href="/PenggunaMasuk">
		              <img class="brand-img" src="/gambar/{{ session['pic'] }}" height="30px"  alt="Logo Pemda"/>{{ session['des'] }}
		              <span class="brand-text">BULAKAN</span>
		            </a>
		          </div>
		        </div>  
				<a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
				<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
				<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
			</div>
			<div id="mobile_only_nav" class="mobile-only-nav pull-right">
				<ul class="nav navbar-right top-nav pull-right">
					<li class="dropdown auth-drp">
						<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="/gambar/{{ session['pic'] }}" alt="user_auth" class="user-auth-img img-circle"/><span class="user-online-status"></span></a>
						<ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
							<li>
								<a href="/Profil" style="text-align: center;"><h5 >{{ session['pengguna'] }}</h5></a>
							</li>
							<li>
								<a href="/Profil"><i class="zmdi zmdi-account"></i><span>Profil Pengguna</span></a>
							</li>
							<li>
								<a href="/gantikatasandi"><i class="zmdi zmdi-key"></i><span>Ganti Sandi</span></a>
							</li>
							<li>
								<a href="/support"><i class="zmdi zmdi-help-outline"></i><span>Bantuan?</span></a>
							</li>
							
							<li>
								<a href="/logout"><i class="zmdi zmdi-power"></i><span>Keluar</span></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>	
		</nav>
