<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>DATA DESA PRO</title>
	<meta name="description" content="Sistem Informasi Desa dan Kawasan Online by Python" />
	<meta name="keywords" content="Sistem Informasi Desa dan Kawasan Online" />
	<meta name="author" content="pythonesia"/>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link href="/baru/vendors/bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/> 
	<link href="/baru/dist/css/style.css" rel="stylesheet" type="text/css">
	<!-- <link href="/baru/vendors/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="/baru/vendors/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css" />
    <link href="/baru/vendors/bower_components/dropify/dist/css/dropify.min.css" rel="stylesheet" type="text/css"/>
</head>
