<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default card-view">
				<div class="panel-wrapper collapse in">
					<div class="panel-body">
                      <form role="form" action="/RegulasiDesa" method="post"></form>
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<div class="form-wrap">
										<div class="form-body">
											<h6 class="txt-dark capitalize-font">Tambah Regulasi Desa</h6>
											<hr class="light-grey-hr"/>
                                          <div class="row">
                                            <div class="col-md-6">
                                              <div class="form-group">
                                                <label class="control-label mb-10">Nomor Regulasi<input type="hidden" name="no" value=""></label>
                                                <input type="text" class="form-control" name="nokk" placeholder="Masukkan Nomor KK" value="" >
                                              </div>
                                            </div>
                                            <div class="col-md-6">
                                              <div class="form-group">
                                                <label class="control-label mb-10">Jenis Regulasi</label>
                                                <select required="" class="form-control" name="jk">
                                                  <option value="" selected></option>
                                                  <option value="Laki-laki" >Beregerak</option>
                                                  <option value="Perempuan">Tidak Bergerak</option>
                                                </select>
                                              </div>
                                            </div>
												<!--/span-->
                                          </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label mb-10">Tahun Regulasi<input type="hidden" name="no" value=""></label>
                              <input type="text" class="form-control" name="nokk" placeholder="Nama Aset" value="" >
                            </div>
                          </div>
												<!--/span-->
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label mb-10">Tanggal Regulaso</label>
                              <select required="" class="form-control" name="jk">
                                <option value="" selected></option>
                                <option value="Laki-laki" >Baik</option>
                                <option value="Perempuan">Rusak</option>
                              </select>
                            </div>
                          </div>
												<!--/span-->
                        </div>




                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label mb-10">Unggah Regulasi Desa</label>

                          <input type="file" id="input-file-max-fs" class="dropify" type="file" name="pic" data-max-file-size="10M" required />

                            </div>
                          </div>

                        </div>



                      <button class="btn  btn-success" type="submit" name="subject" value="simpandata">Simpan Data</button>
                      <button class="btn  btn-danger" type="submit" name="subject" value="kembali">Menu Aset Desa</button>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>