<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default card-view">
				<div class="panel-wrapper collapse in">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<div class="form-wrap">
										<div class="form-body">
											<form action="/validasidatapenduduk" method="post">
											<h6 class="txt-dark capitalize-font">Tambah Data Kelahiran</h6>
											<hr class="light-grey-hr"/>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Nomor Kepala Keluarga</label>
														<input type="text" class="form-control" name="nokk" placeholder="Masukkan Nomor KK" value="{{ form1 }}" required="" readonly>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Nomor Induk Kependudukan (NIK)</label>
														<input type="text" class="form-control" name="nik"  placeholder="Masukan NIK" value="000" required="" readonly>
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Nama Yang Lahir</label>
														<input type="text" class="form-control" name="namalengkap"  placeholder="Masukan Nama Lengkap" value="" required="">
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Alamat</label>
														<input type="text" class="form-control" name="alamat"  placeholder="Masukan Alamat" value="" required="">
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">RT</label>
														<input type="text" class="form-control" name="rt"  placeholder="Masukan RT" value="" required="">
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">RW</label>
														<input type="text" class="form-control" name="rw"  placeholder="Masukan RW" value="" required="">
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Dusun</label>
														<input type="text" class="form-control" name="dusun"  placeholder="Masukan Dusun" value="" required="">
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Kodepos</label>
														<input type="text" class="form-control" name="kodepos"  placeholder="Masukan Kodepos" value="" required="">
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Tempat Lahir</label>
														<input type="text" class="form-control" name="tempatlahir"  placeholder="Masukan Tempat Lahir" value="" required="">
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Tanggal Lahir (DD/MM/YYYY)</label>
														<input type="date" class="form-control" name="tgllahir"  placeholder="Masukan Tanggal Lahir" value="" required="">
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Jenis Kelamin</label>
														<select required="" class="form-control" name="jk">
															<option value="Laki-laki" >Laki-laki</option>
															<option value="Perempuan">Perempuan</option>
														</select>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Status Hubungan Dalam Keluarga</label>
														<select required="" class="form-control" name="shdk">
															<option value="Anak" >Anak</option>
															<option value="Cucu" >Cucu</option>

														</select>

													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Agama</label>
														<select required="" class="form-control" name="agama">
															<option value="Islam" >Islam</option>
															<option value="Kristen">Kristen</option>
															<option value="Katholik">Katholik</option>
															<option value="Hindu">Hindu</option>
															<option value="Budha">Budha</option>
															<option value="Khong Hucu">Khong Hucu</option>
															<option value="Aliran Kepercayaan" >Aliran Kepercayaan</option>
															<option value="Agama Lainnya" >Agama Lainnya</option>
														</select>
													</div>
												</div>
												<!--/span-->

												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Pelapor</label>
														<input type="text" class="form-control" name="tempatlahir"  placeholder="Masukan Tempat Lahir" value="" required="">
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Yang Bantu Kelahiran</label>
														<input type="text" class="form-control" name="tempatlahir"  placeholder="Masukan Tempat Lahir" value="" required="">
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Catatan Kelahiran</label>
														<input type="text" class="form-control" name="namaayah"  placeholder="Masukan Nama Ayah" value="" required="">
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Keterangan</label>
														<input type="text" class="form-control" name="namaibu"  placeholder="Masukan Nama Ibu" value="" required="">
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->


											<!-- /Row -->
											<div class="row">
												<div class="col-lg-12">
													<div  class="panel-wrapper collapse in">
														<div  class="panel-body">
															<div class="form-actions mt-10" >

																	<button type="submit" name="subject"  value ="tambahdata" class="btn btn-success  mr-10"> Tambah Data</button>

															</div>
														</div>
													</div>
												</div>
											</div>
										<!-- /Row -->

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
