<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>SIDEKEM Desa Bulakan </title>
  <meta name="description" content="Sistem Informasi Desa dan Kawasan Online by Python" />
  <meta name="keywords" content="Sistem Informasi Desa dan Kawasan Online" />
  <meta name="author" content="pythonesia"/>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link href="/baru/vendors/bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
  <link href="/baru/dist/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/baru/leafletdraw/libs/leaflet.css" />
  <link rel="stylesheet" href="/baru/leafletdraw/leaflet.draw.css"/>
  <link href="/baru/vendors/bower_components/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
  <style type="text/css">
    #basemapslidercontainer {
      position: absolute;
      top: 50px;
      right: 10px;
      z-index: 1000;
    }

    #basemapslider{
      font-size:62.5%;
      margin: 14px;
      height: 125px;
      width:7px;
    }

    #map{

       width: 100%;
       height: 800px
    }
  </style>
</head>
<body>
    <div class="wrapper theme-2-active pimary-color-blue">
		{% include 'desa/head.html' %}
				<div class="fixed-sidebar-left">
			<ul class="nav navbar-nav side-nav nicescroll-bar">
				<li><hr class="light-grey-hr mb-10"/></li>
				<li>
					<a href="/penggunamasuk" data-toggle="collapse" data-target="#dashboard_dr"><div class="pull-left"><i class="zmdi zmdi-home mr-20"></i>Dashboard</div><div class="clearfix"></div></a>
				</li>
				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#app_dr"><div class="pull-left"><i class="zmdi zmdi-edit mr-20"></i><span class="right-nav-text">Pelayanan Umum</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="app_dr" class="collapse collapse-level-1">
						<li>
							<a href="/keluhanwarga">Aduan Masyarakat</a>
						</li>
						<li>
							<a href="javascript:void(0);" data-toggle="collapse" data-target="#auth_dra">Layanan Surat<div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
							<ul id="auth_dra" class="collapse collapse-level-2">
								<li><a href="/buatsurat" >Pembuatan Surat</a></li>
                  				<li><a href="/suratmasuk">Surat Masuk</a></li>
                  				<li><a href="/suratkeluar">Surat Keluar</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><hr class="light-grey-hr mb-10"/></li>

				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_dr"><div class="pull-left"><i class="zmdi zmdi-accounts mr-20"></i><span class="right-nav-text">Data Kependudukan</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="ui_dr" class="collapse collapse-level-1 two-col-list">
						<li><a href="/kepalakeluarga"  > Kepala Keluarga</a></li>
            			<li><a href="/anggotakeluarga" > Anggota Keluarga</a></li>
            			<li><a href="/datakelahiran" > Data Kelahiran</a></li>
            			<li><a href="/datakematian" >Data Kematian</a></li>
						<li><a href="/datamutasi" > Data Mutasi</a></li>
						<li><a href="/pecahkk" > Pecah KK</a></li>
            			<li><a href="/importdatapenduduk" > Import Data Penduduk</a></li>
						<li>
							<a href="javascript:void(0);" data-toggle="collapse" data-target="#pengaturanpenduduk">Pengaturan<div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
							<ul id="pengaturanpenduduk" class="collapse collapse-level-2">
								<li><a href="/hapuspenduduk" >Hapus Data Penduduk</a></li>
								<li><a href="/grafikpenduduk"  >Grafik Kependudukan</a></li>
								<li><a href="/updatedatapenduduk" >Update Data Penduduk</a></li>
							</ul>
						</li>


					</ul>
				</li>

				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#pages_dr"><div class="pull-left"><i class="zmdi zmdi-google-pages mr-20"></i><span class="right-nav-text">Pemerintah Desa</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="pages_dr" class="collapse collapse-level-1 two-col-list">
						<li><a href="/sotkdesa">SOTK Desa</a></li>
            			<li><a href="/AsetDesa">Aset Desa</a></li>
            			<li><a href="/RegulasiDesa">Regulasi Desa</a></li>
						<li><a href="/SaranaPrasarana">Data Pembangunan</a></li>
						<li><a href="/Pemberdayaan">Data Pemberdayaan</a></li>
					</ul>
				</li>
				<!-- <li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#dropdown_dr_lv1"><div class="pull-left"><i class="zmdi zmdi-city-alt mr-20"></i><span class="right-nav-text">Potensi Desa</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="dropdown_dr_lv1" class="collapse collapse-level-1">
						<li><a href="/prodeskelwilayah"> Wilayah Penggunaan</a></li>
						<li><a href="/prodeskellahan"> Luas Lahan</a></li>
						<li><a href="/prodeskelekonomi"> Bidang Ekonomi</a></li>
						<li><a href="/prodeskelkesehatan"> Bidang Kesehatan</a></li>
						<li><a href="/prodeskeladat"> Bidang Pendidikan</a></li>

					</ul>
				</li> -->

                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#datakemiskinan"><div class="pull-left"><i class="zmdi zmdi-account-o mr-20"></i><span class="right-nav-text">Data Kemiskinan</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                        <ul id="datakemiskinan" class="collapse collapse-level-1">
                            <li><a href="/rumahtangga"  >Rumah Tangga</a></li>
                            <li><a href="/anggotarumahtangga"  >Anggota Rumah Tangga</a></li>
                        </ul>
                </li>



				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#keuangan"><div class="pull-left"><i class="zmdi zmdi-money-box mr-20"></i><span class="right-nav-text">Keuangan Desa</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="keuangan" class="collapse collapse-level-1">

							<li><a href="/importdatamdb"> Import Siskeudes</a></li>

					</ul>
				</li>

				<li>
					<a class="active"  href="javascript:void(0);" data-toggle="collapse" data-target="#petadesa"><div class="pull-left"><i class="zmdi zmdi-globe mr-20"></i><span class="right-nav-text">Peta Desa</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="petadesa" class="collapse collapse-level-1">

							<li><a href="/inputlatlong"> Input Lat-Long</a></li>
							<li><a href="/petadesa"> Lihat Peta Desa</a></li>

					</ul>
				</li>
				<li><hr class="light-grey-hr mb-10"/></li>

				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#form_dr"><div class="pull-left"><i class="zmdi zmdi-chart mr-20"></i><span class="right-nav-text">Statistik Penduduk</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="form_dr" class="collapse collapse-level-1 two-col-list">
						<li><a href="/statusia" >Statistik Usia</a></li>
            			<li><a href="/statjk" > Statistik Jenis Kelamin</a></li>
            			<li><a href="/statagama"> Statistik Agama</a></li>
            			<li><a href="/statpend"> Statistik Pendidikan</a></li>
            			<li><a href="/statpek"> Statistik Pekerjaan</a></li>
           				<li><a href="/statistikgolongandarah">Statistik Golongan Darah</a></li>

					</ul>
				</li>
				<li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#statistikdatakemiskinan"><div class="pull-left"><i class="zmdi zmdi-trending-up mr-20"></i><span class="right-nav-text">Statistik Kemiskinan</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                        <ul id="statistikdatakemiskinan" class="collapse collapse-level-1">
                            <li><a href="/statistikperumahan"  >Perumahan</a></li>
                            <li><a href="/statistiksanitasi"  >Sanitasi</a></li>
                            <li><a href="/statistikpenerangan"  >Penerangan</a></li>
                            <li><a href="/statistikbahanbakarmasak"  >Bahan Bakar Masak</a></li>
                            <li><a href="/statistikkepemilikanaset" >Kepemilikan Aset</a></li>
                            <li><a href="/statistikkeikutsertaanprogram" >Keikutsertaan Program</a></li>
                            <li><a href="/statistikkepemilikankartuidentitas" >Kepemilikan kartu identitas</a></li>
                            <li><a href="/disabilitas" >Disabilitas</a></li>
                            <li><a href="/penyakitkronis" id="animasi11">Penyakit kronis</a></li>
                            <li><a href="/partisipasisekolah" id="animasi12">Partisipasi sekolah</a></li>
                        </ul>
                </li>
				<li><hr class="light-grey-hr mb-10"/></li>

				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#kom"><div class="pull-left"><i class="zmdi  zmdi-comment-alt-text mr-20"></i><span class="right-nav-text">Komunikasi</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="kom" class="collapse collapse-level-1 two-col-list">
						<li><a href="/chatroom">Chat Room</a></li>
            			<li><a href="/kirimpesan">Pesan Khusus</a></li>

					</ul>
				</li>
				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#profil"><div class="pull-left"><i class="zmdi zmdi-account-box mr-20"></i><span class="right-nav-text">Pengguna Layanan</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="profil" class="collapse collapse-level-1 two-col-list">
						<li><a href="/tambahpengguna">Tambah Pengguna</a></li>
						<li><a href="/profil">Profil Anda</a></li>
						<li><a href="/logout">Keluar</a></li>

					</ul>
				</li>

			</ul>
		</div>


		{% include 'desa/kanan.html' %}
		<div class="right-sidebar-backdrop"></div>
		<div class="page-wrapper">
            <div class="container-fluid ">
				<div class="row heading-bg">
            		<div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
					     <h5 class="txt-dark">DASHBOARD PETA DESA</h5>
            		</div>
          		</div>


    <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default card-view">
              <div class="panel-heading">
                <div class="pull-left">
                  <h1 class="panel-title txt-dark">Pengelolaan Peta Desa </h1>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-wrapper collapse in">
                <div class="panel-body">
                  <div class="table-responsive"><center>

<div id="map">
    <div id="basemapslidercontainer">
      <div id="basemapslider">
    </div>
  </div>
  </div>

                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

	{% include 'desa/anim.html' %}
			{% include 'desa/foot.html' %}
		</div>
        </div>
{% include 'desa/script.html' %}

  <script src="/baru/leafletdraw/libs/leaflet-src.js"></script>
  <script src="/baru/leafletdraw/Leaflet.draw.js"></script>
    <script src="/baru/leafletdraw/Leaflet.Draw.Event.js"></script>
    <link rel="stylesheet" href="/baru/leafletdraw/leaflet.draw.css"/>

    <script src="/baru/leafletdraw/Toolbar.js"></script>
    <script src="/baru/leafletdraw/Tooltip.js"></script>

    <script src="/baru/leafletdraw/ext/GeometryUtil.js"></script>
    <script src="/baru/leafletdraw/ext/LatLngUtil.js"></script>
    <script src="/baru/leafletdraw/ext/LineUtil.Intersect.js"></script>
    <script src="/baru/leafletdraw/ext/Polygon.Intersect.js"></script>
    <script src="/baru/leafletdraw/ext/Polyline.Intersect.js"></script>
    <script src="/baru/leafletdraw/ext/TouchEvents.js"></script>

    <script src="/baru/leafletdraw/draw/DrawToolbar.js"></script>
    <script src="/baru/leafletdraw/draw/handler/Draw.Feature.js"></script>
    <script src="/baru/leafletdraw/draw/handler/Draw.SimpleShape.js"></script>
    <script src="/baru/leafletdraw/draw/handler/Draw.Polyline.js"></script>
    <script src="/baru/leafletdraw/draw/handler/Draw.Marker.js"></script>
    <script src="/baru/leafletdraw/draw/handler/Draw.Circle.js"></script>
    <script src="/baru/leafletdraw/draw/handler/Draw.CircleMarker.js"></script>
    <script src="/baru/leafletdraw/draw/handler/Draw.Polygon.js"></script>
    <script src="/baru/leafletdraw/draw/handler/Draw.Rectangle.js"></script>


    <script src="/baru/leafletdraw/edit/EditToolbar.js"></script>
    <script src="/baru/leafletdraw/edit/handler/EditToolbar.Edit.js"></script>
    <script src="/baru/leafletdraw/edit/handler/EditToolbar.Delete.js"></script>

    <script src="/baru/leafletdraw/Control.Draw.js"></script>

    <script src="/baru/leafletdraw/edit/handler/Edit.Poly.js"></script>
    <script src="/baru/leafletdraw/edit/handler/Edit.SimpleShape.js"></script>
    <script src="/baru/leafletdraw/edit/handler/Edit.Rectangle.js"></script>
    <script src="/baru/leafletdraw/edit/handler/Edit.Marker.js"></script>
    <script src="/baru/leafletdraw/edit/handler/Edit.CircleMarker.js"></script>
    <script src="/baru/leafletdraw/edit/handler/Edit.Circle.js"></script>
 <script>
        var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib}),
            map = new L.Map('map', {center: new L.LatLng(-7.141024, 109.306189), zoom: 15}),
            drawnItems = L.featureGroup().addTo(map);

        L.control.layers({
            "google": L.tileLayer('http://www.google.com/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
                attribution: 'google'
            }),
            "osm": osm.addTo(map)
        }, {'drawlayer':drawnItems}, { position: 'topright', collapsed: true }).addTo(map);

        map.addControl(new L.Control.Draw({
            edit: {
                featureGroup: drawnItems,
                poly : {
                    allowIntersection : false
                }
            },
            draw: {
                polygon : {
                    allowIntersection: false,
                    showArea:true
                }
            }
        }));

        // Truncate value based on number of decimals
        var _round = function(num, len) {
            return Math.round(num*(Math.pow(10, len)))/(Math.pow(10, len));
        };
        // Helper method to format LatLng object (x.xxxxxx, y.yyyyyy)
        var strLatLng = function(latlng) {
            return "("+_round(latlng.lat, 6)+", "+_round(latlng.lng, 6)+")";
        };

        // Generate popup content based on layer type
        // - Returns HTML string, or null if unknown object
        var getPopupContent = function(layer) {
            // Marker - add lat/long
            if (layer instanceof L.Marker || layer instanceof L.CircleMarker) {
                return strLatLng(layer.getLatLng());
            // Circle - lat/long, radius
            } else if (layer instanceof L.Circle) {
                var center = layer.getLatLng(),
                    radius = layer.getRadius();
                return "Center: "+strLatLng(center)+"<br />"
                      +"Radius: "+_round(radius, 2)+" m";
            // Rectangle/Polygon - area
            } else if (layer instanceof L.Polygon) {
                var latlngs = layer._defaultShape ? layer._defaultShape() : layer.getLatLngs(),
                    area = L.GeometryUtil.geodesicArea(latlngs);
                return "Area: "+L.GeometryUtil.readableArea(area, true);
            // Polyline - distance
            } else if (layer instanceof L.Polyline) {
                var latlngs = layer._defaultShape ? layer._defaultShape() : layer.getLatLngs(),
                    distance = 0;
                if (latlngs.length < 2) {
                    return "Distance: N/A";
                } else {
                    for (var i = 0; i < latlngs.length-1; i++) {
                        distance += latlngs[i].distanceTo(latlngs[i+1]);
                    }
                    return "Distance: "+_round(distance, 2)+" m";
                }
            }
            return null;
        };

        // Object created - bind popup to layer, add to feature group
        map.on(L.Draw.Event.CREATED, function(event) {
            var layer = event.layer;
            var content = getPopupContent(layer);
            if (content !== null) {
                layer.bindPopup(content);
            }
            drawnItems.addLayer(layer);
        });

        // Object(s) edited - update popups
        map.on(L.Draw.Event.EDITED, function(event) {
            var layers = event.layers,
                content = null;
            layers.eachLayer(function(layer) {
                content = getPopupContent(layer);
                if (content !== null) {
                    layer.setPopupContent(content);
                }
            });
        });
    </script>
  </script>

</body>
</html>
