{% include 'desa/anim.html' %}
	<script src="/baru/vendors/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/baru/vendors/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/baru/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/baru/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="/baru/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="/baru/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="/baru/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
	<script src="/baru/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	<script src="/baru/vendors/bower_components/jsgrid/dist/jsgrid.min.js"></script>
	<script src="/baru/vendors/bower_components/bootstrap-validator/dist/validator.min.js"></script>
	<script src="/baru/vendors/chart.js/Chart.min.js"></script>
	<script src="/baru/dist/js/jquery.slimscroll.js"></script>
	<script src="/baru/dist/js/init.js"></script>
	<script src="/baru/dist/js/dashboard6-data.js"></script>
	<script src="/baru/dist/js/dropdown-bootstrap-extended.js"></script>
	<script src="/baru/dist/js/dataTables-data.js"></script>
	<script src="/baru/dist/js/export-table-data.js"></script>

	<!-- Data table JavaScript -->
	<script src="/baru/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/baru/vendors/bower_components/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/baru/vendors/bower_components/jszip/dist/jszip.min.js"></script>
	<script src="/baru/vendors/bower_components/pdfmake/build/pdfmake.min.js"></script>
	<script src="/baru/vendors/bower_components/pdfmake/build/vfs_fonts.js"></script>
	<script src="/baru/vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/baru/vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
	

	<!-- Untuk Print -->
	<script src="/baru/dist/js/jQuery.print.js"></script>
	<!-- wysuhtml5 Plugin JavaScript -->
    <script src="/baru/vendors/bower_components/wysihtml5x/dist/wysihtml5x.min.js"></script>
    <script src="/baru/vendors/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.js"></script>
    <!-- Bootstrap Wysuhtml5 Init JavaScript -->
    <script src="/baru/dist/js/bootstrap-wysuhtml5-data.js"></script>

	<!-- Edit di table langsung -->
	<script src="/baru/dist/js/jquery-quickedit.js"></script>
	<script src="/baru/dist/js/jquery-quickedit1.js"></script>
	<!--<script src="/baru/dist/js/jquery-quickedit2.js"></script>-->

	<script src="/baru/dist/js/form-file-upload-data.js"></script>
	<script src="/baru/vendors/bower_components/dropify/dist/js/dropify.min.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function(){
		 var myVar;
		 $( "#animasi" ).click(function() {
		  	myFunction(this);
		});

		 function myFunction(div) {
		 $("#loader").toggle();
		 $(div).toggle();

		 }

		   
		});
	
</script>



	
