<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>SIDEKEM Desa Bulakan </title>
  <meta name="description" content="Sistem Informasi Desa dan Kawasan Online by Python" />
  <meta name="keywords" content="Sistem Informasi Desa dan Kawasan Online" />
  <meta name="author" content="pythonesia"/>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link href="/baru/vendors/bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
  <link href="/baru/dist/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="wrapper theme-2-active pimary-color-blue">
		{% include 'desa/head.html' %}
				<div class="fixed-sidebar-left">
			<ul class="nav navbar-nav side-nav nicescroll-bar">
				<li><hr class="light-grey-hr mb-10"/></li>
				<li>
					<a href="/penggunamasuk" data-toggle="collapse" data-target="#dashboard_dr"><div class="pull-left"><i class="zmdi zmdi-home mr-20"></i>Dashboard</div><div class="clearfix"></div></a>
				</li>
				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#app_dr"><div class="pull-left"><i class="zmdi zmdi-edit mr-20"></i><span class="right-nav-text">Pelayanan Umum</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="app_dr" class="collapse collapse-level-1">
						<li>
							<a href="/keluhanwarga">Aduan Masyarakat</a>
						</li>
						<li>
							<a href="javascript:void(0);" data-toggle="collapse" data-target="#auth_dra">Layanan Surat<div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
							<ul id="auth_dra" class="collapse collapse-level-2">
								<li><a href="/buatsurat" >Pembuatan Surat</a></li>
                  				<li><a href="/suratmasuk">Surat Masuk</a></li>
                  				<li><a href="/suratkeluar">Surat Keluar</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><hr class="light-grey-hr mb-10"/></li>

				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_dr"><div class="pull-left"><i class="zmdi zmdi-accounts mr-20"></i><span class="right-nav-text">Data Kependudukan</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="ui_dr" class="collapse collapse-level-1 two-col-list">
						<li><a href="/kepalakeluarga"  > Kepala Keluarga</a></li>
            			<li><a href="/anggotakeluarga" > Anggota Keluarga</a></li>
            			<li><a href="/datakelahiran" > Data Kelahiran</a></li>
            			<li><a href="/datakematian" >Data Kematian</a></li>
						<li><a href="/datamutasi" > Data Mutasi</a></li>
						<li><a href="/pecahkk" > Pecah KK</a></li>
            			<li><a href="/importdatapenduduk" > Import Data Penduduk</a></li>
						<li>
							<a href="javascript:void(0);" data-toggle="collapse" data-target="#pengaturanpenduduk">Pengaturan<div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
							<ul id="pengaturanpenduduk" class="collapse collapse-level-2">
								<li><a href="/hapuspenduduk" >Hapus Data Penduduk</a></li>
								<li><a href="/grafikpenduduk"  >Grafik Kependudukan</a></li>
								<li><a href="/updatedatapenduduk" >Update Data Penduduk</a></li>
							</ul>
						</li>


					</ul>
				</li>

				<li>
					<a  href="javascript:void(0);" data-toggle="collapse" data-target="#pages_dr"><div class="pull-left"><i class="zmdi zmdi-google-pages mr-20"></i><span class="right-nav-text">Pemerintah Desa</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="pages_dr" class="collapse collapse-level-1 two-col-list">
						<li><a href="/sotkdesa">SOTK Desa</a></li>
            			<li><a href="/AsetDesa">Aset Desa</a></li>
            			<li><a href="/RegulasiDesa">Regulasi Desa</a></li>
						<li><a href="/SaranaPrasarana">Data Pembangunan</a></li>
						<li><a href="/Pemberdayaan">Data Pemberdayaan</a></li>
					</ul>
				</li>
				<!-- <li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#dropdown_dr_lv1"><div class="pull-left"><i class="zmdi zmdi-city-alt mr-20"></i><span class="right-nav-text">Potensi Desa</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="dropdown_dr_lv1" class="collapse collapse-level-1">
						<li><a href="/prodeskelwilayah"> Wilayah Penggunaan</a></li>
						<li><a href="/prodeskellahan"> Luas Lahan</a></li>
						<li><a href="/prodeskelekonomi"> Bidang Ekonomi</a></li>
						<li><a href="/prodeskelkesehatan"> Bidang Kesehatan</a></li>
						<li><a href="/prodeskeladat"> Bidang Pendidikan</a></li>

					</ul>
				</li> -->

                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#datakemiskinan"><div class="pull-left"><i class="zmdi zmdi-account-o mr-20"></i><span class="right-nav-text">Data Kemiskinan</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                        <ul id="datakemiskinan" class="collapse collapse-level-1">
                            <li><a href="/rumahtangga"  >Rumah Tangga</a></li>
                            <li><a href="/anggotarumahtangga"  >Anggota Rumah Tangga</a></li>
                        </ul>
                </li>



				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#keuangan"><div class="pull-left"><i class="zmdi zmdi-money-box mr-20"></i><span class="right-nav-text">Keuangan Desa</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="keuangan" class="collapse collapse-level-1">

							<li><a href="/importdatamdb"> Import Siskeudes</a></li>

					</ul>
				</li>
				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#petadesa"><div class="pull-left"><i class="zmdi zmdi-globe mr-20"></i><span class="right-nav-text">Peta Desa</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="petadesa" class="collapse collapse-level-1">

							<li><a href="/inputlatlong"> Input Lat-Long</a></li>
							<li><a href="/petadesa"> Lihat Peta Desa</a></li>

					</ul>
				</li>
				<li><hr class="light-grey-hr mb-10"/></li>

				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#form_dr"><div class="pull-left"><i class="zmdi zmdi-chart mr-20"></i><span class="right-nav-text">Statistik Penduduk</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="form_dr" class="collapse collapse-level-1 two-col-list">
						<li><a href="/statusia" >Statistik Usia</a></li>
            			<li><a href="/statjk" > Statistik Jenis Kelamin</a></li>
            			<li><a href="/statagama"> Statistik Agama</a></li>
            			<li><a href="/statpend"> Statistik Pendidikan</a></li>
            			<li><a href="/statpek"> Statistik Pekerjaan</a></li>
           				<li><a href="/statistikgolongandarah">Statistik Golongan Darah</a></li>

					</ul>
				</li>
				<li>
                    <a class="active" href="javascript:void(0);" data-toggle="collapse" data-target="#statistikdatakemiskinan"><div class="pull-left"><i class="zmdi zmdi-trending-up mr-20"></i><span class="right-nav-text">Statistik Kemiskinan</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                        <ul id="statistikdatakemiskinan" class="collapse collapse-level-1">
                            <li><a href="/statistikperumahan"  >Perumahan</a></li>
                            <li><a href="/statistiksanitasi"  >Sanitasi</a></li>
                            <li><a href="/statistikpenerangan"  >Penerangan</a></li>
                            <li><a href="/statistikbahanbakarmasak"  >Bahan Bakar Masak</a></li>
                            <li><a href="/statistikkepemilikanaset" >Kepemilikan Aset</a></li>
                            <li><a href="/statistikkeikutsertaanprogram" >Keikutsertaan Program</a></li>
                            <li><a href="/statistikkepemilikankartuidentitas" >Kepemilikan kartu identitas</a></li>
                            <li><a href="/disabilitas" >Disabilitas</a></li>
                            <li><a href="/penyakitkronis" id="animasi11">Penyakit kronis</a></li>
                            <li><a href="/partisipasisekolah" id="animasi12">Partisipasi sekolah</a></li>
                        </ul>
                </li>
				<li><hr class="light-grey-hr mb-10"/></li>

				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#kom"><div class="pull-left"><i class="zmdi  zmdi-comment-alt-text mr-20"></i><span class="right-nav-text">Komunikasi</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="kom" class="collapse collapse-level-1 two-col-list">
						<li><a href="/chatroom">Chat Room</a></li>
            			<li><a href="/kirimpesan">Pesan Khusus</a></li>

					</ul>
				</li>
				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#profil"><div class="pull-left"><i class="zmdi zmdi-account-box mr-20"></i><span class="right-nav-text">Pengguna Layanan</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="profil" class="collapse collapse-level-1 two-col-list">
						<li><a href="/tambahpengguna">Tambah Pengguna</a></li>
						<li><a href="/profil">Profil Anda</a></li>
						<li><a href="/logout">Keluar</a></li>

					</ul>
				</li>

			</ul>
		</div>
		
		{% include 'desa/kanan.html' %}
		<div class="right-sidebar-backdrop">  
    </div>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row heading-bg">
					<div class="col-lg-12">
					  <h5 class="txt-dark">Statistik Berdasarkan Kepemilikan Kartu Identitas Desa</h5>
					</div>
        </div>
					<div class="row">
        <div class="col-lg-6">
          <div class="panel panel-default card-view">
            <div class="panel-heading"><div class="pull-left"><h6 class="panel-title txt-dark">Grafik Kepemilikan Kartu Identitas</h6></div><div class="clearfix"></div></div>
              <div class="panel-wrapper collapse in"><div class="panel-body"><canvas id="chart_6" height="200"></canvas><p>Sumber BDT 2015 &copy; TNP2K</p></div>  
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default card-view"><div class="panel-heading"><div class="pull-left"><h6 class="panel-title txt-dark">Tabel Kepemilikan Kartu Identitas</h6></div><div class="clearfix"></div></div>
            <div class="panel-wrapper collapse in">
              <div class="panel-body" >
                <div class="table-responsive">
                  <table id="myTable" class="table table-bordered table-striped">
                  <tr class="header">
                  <th >NO</th> 
                  <th>KERTU IDENTITAS</th>
                  <th>JUMLAH</th>
                  </tr>
                  <tr>
                  <td>1</td>
                  <td> Akta kelahiran</td>
                  <td>{{ session['punyaaktakelahiran']}}</td>
                  </tr>
                  <tr>
                  <td>2</td>
                  <td> Kartu pelajar</td>
                  <td>{{ session['punyakartupelajar']}}</td>
                  </tr>
                  <tr>
                  <td>3</td>
                  <td> Akta Kelahiran + Kartu pelajar</td>
                  <td>{{ session['kpap']}}</td>
                  </tr>
                  <tr>
                  <td>4</td>
                  <td> KTP</td>
                  <td>{{ session['punyaktp']}}</td>
                  </tr>
                  <tr>
                  <td>5</td>
                  <td> KTP + Akta Kelahiran</td>
                  <td>{{ session['ktpak']}}</td>
                  </tr>
                  <tr>
                  <td>6</td>
                  <td> KTP + Kartu pelajar</td>
                  <td>{{ session['ktpap']}}</td>
                  </tr>
                  <tr>
                  <td>7</td>
                  <td> Akta Kelahiran+Kartu pelajar+KTP</td>
                  <td>{{ session['ktpkpak']}}</td>
                  </tr>
                  <tr>
                  <td>8</td>
                  <td> SIM</td>
                  <td>{{ session['punyasim']}}</td>
                  </tr>
                  <tr>
                  <td>9</td>
                  <td> SIM+KTP+Kartu Pelajar+Akta Kelahiran</td>
                  <td>{{ session['semua']}}</td>
                  </tr>
                  <tr>
                  <td>10</td>
                  <td> Tidak ada</td>
                  <td>{{ session['tidakpunyaidentitas']}}</td>
                  </tr>
                  </table>
                </div><p>Sumber BDT 2015 &copy; TNP2K</p>
              </div>
            </div>
          </div>
        </div>
    </div>
        
        </div>
         {% include 'desa/foot.html' %}
			</div>
		</div>
{% include 'desa/script.html' %}
<script type="text/javascript">
    /*Chartjs Init*/

$( document ).ready(function() {
    "use strict"; 
  if( $('#chart_6').length > 0 ){
    var ctx6 = document.getElementById("chart_6").getContext("2d");
    var data6 = {
       labels: [
      "Akta kelahiran",
      "Kartu pelajar",
      "KTP",
      "SIM",
      "Tidak punya Identitas"
    ],
    datasets: [
      {
        data: [{{ session['punyaaktakelahiran']}}, {{ session['punyakartupelajar']}}, {{ session['punyaktp']}}, {{ session['punyasim']}}, {{ session['tidakpunyaidentitas']}}],
        backgroundColor: [
          "rgba(46,205,153,.6)",
          "rgba(240,197,65,.6)",
          "rgba(78,157,230,.6)",
          "rgba(228, 15, 15,.6)",
          "rgba(89, 127, 165, 0.2)"
        ],
        hoverBackgroundColor: [
          "rgba(46,205,153,.6)",
          "rgba(240,197,65,.6)",
          "rgba(78,157,230,.6)",
          "rgba(228, 15, 15,.6)",
          "rgba(89, 127, 165, 0.2)"
        ]
      }]
    };
    
    var pieChart  = new Chart(ctx6,{
      type: 'pie',
      data: data6,
      options: {
        animation: {
          duration: 3000
        },
        responsive: true,
        legend: {
          labels: {
          fontFamily: "Poppins",
          fontColor:"#878787"
          }
        },
        tooltip: {
          backgroundColor:'rgba(33,33,33,1)',
          cornerRadius:0,
          footerFontFamily:"'Poppins'"
        },
        elements: {
          arc: {
            borderWidth: 0
          }
        }
      }
    });
  }
});
  </script>
</body>
</html>
