<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default card-view">
				<div class="panel-wrapper collapse in">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<div class="form-wrap">
										<div class="form-body">
											<form action="/validasidatapenduduk" method="post">
											<h6 class="txt-dark capitalize-font">Tambah Data Kepala Keluarga</h6>
											<hr class="light-grey-hr"/>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Nomor Kepala Keluarga<input type="hidden" name="no" value=""></label>
														<input type="text" class="form-control" name="nokk" placeholder="Masukkan Nomor KK" value="" required="">
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Nomor Induk Kependudukan (NIK)</label>
														<input type="text" class="form-control" name="nik"  placeholder="Masukan NIK" value="" required="">
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Nama Lengkap</label>
														<input type="text" class="form-control" name="namalengkap"  placeholder="Masukan Nama Lengkap" value="" required="">
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Alamat</label>
														<input type="text" class="form-control" name="alamat"  placeholder="Masukan Alamat" value="" required="">
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">RT</label>
														<input type="text" class="form-control" name="rt"  placeholder="Masukan RT" value="" required="">
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">RW</label>
														<input type="text" class="form-control" name="rw"  placeholder="Masukan RW" value="" required="">
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Dusun</label>
														<input type="text" class="form-control" name="dusun"  placeholder="Masukan Dusun" value="" required="">
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Kodepos</label>
														<input type="text" class="form-control" name="kodepos"  placeholder="Masukan Kodepos" value="" required="">
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Tempat Lahir</label>
														<input type="text" class="form-control" name="tempatlahir"  placeholder="Masukan Tempat Lahir" value="" required="">
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Tanggal Lahir (DD/MM/YYYY)</label>
														<input type="text" class="form-control" name="tgllahir"  placeholder="Masukan Tanggal Lahir" value="" required="">
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Jenis Kelamin</label>
														<select required="" class="form-control" name="jk">
															<option value="Laki-laki" >Laki-laki</option>
															<option value="Perempuan">Perempuan</option>
														</select>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Status Hubungan Dalam Keluarga</label>
														<input type="text" class="form-control" name="shdk"  placeholder="Masukan Status Hubungan Dalam Keluarga" value="" readonly>

													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Agama</label>
														<select required="" class="form-control" name="agama">
															<option value="Islam" >Islam</option>
															<option value="Kristen">Kristen</option>
															<option value="Katholik">Katholik</option>
															<option value="Hindu">Hindu</option>
															<option value="Budha">Budha</option>
															<option value="Khong Hucu">Khong Hucu</option>
															<option value="Aliran Kepercayaan" >Aliran Kepercayaan</option>
															<option value="Agama Lainnya" >Agama Lainnya</option>
														</select>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Pendidikan Terakhir</label>
														<select required="" class="form-control" name="pendidikan">
															<option value="Tidak/Belum Sekolah" >Tidak/Belum Sekolah</option>
															<option value="Tidak Tamat SD/Sederajat">Tidak Tamat SD/Sederajat</option>
															<option value="Tamat SD/Sederajat">Tamat SD/Sederajat</option>
															<option value="SLTP/Sederajat">SLTP/Sederajat</option>
															<option value="SLTA/Sederjat">SLTA/Sederjat</option>
															<option value="Diploma I/II">Diploma I/II</option>
															<option value="Akademi/Diploma III/S. Muda">Akademi/Diploma III/S. Muda</option>
															<option value="DilpomaIV/Strata I">DilpomaIV/Strata I</option>
															<option value="Strata II">Strata II </option>
															<option value="Strata III">Strata III </option>
															<option value="Pendidikan Non Formal">Pendidikan Non Formal </option>
														</select>
														</div>
													</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Pekerjaan</label>
														<select required="" class="form-control" name="pekerjaan">
															<option value="Belum/Tidak Bekerja" >Belum/Tidak Bekerja</option>
															<option value="Mengurus Rumah Tangga" >Mengurus Rumah Tangga</option>
															<option value="Pelajar/Mahasiswa" >Pelajar/Mahasiswa</option>
															<option value="Pensiunan" >Pensiunan</option>
															<option value="Pegawai Negeri Sipil" >Pegawai Negeri Sipil</option>
															<option value="Tentara Nasional Indonesia" >Tentara Nasional Indonesia</option>
															<option value="Kepolisian RI" >Kepolisian RI</option>
															<option value="Perdagangan" >Perdagangan</option>
															<option value="Petani/Pekebun" >Petani/Pekebun</option>
															<option value="Peternak" >Peternak</option>
															<option value="Nelayan/Perikanan" >Nelayan/Perikanan</option>
															<option value="Industri" >Industri</option>
															<option value="Konstruksi" >Konstruksi</option>
															<option value="Transportasi" >Transportasi</option>
															<option value="Karyawan Swasta" >Karyawan Swasta</option>
															<option value="Karyawan BUMN" >Karyawan BUMN</option>
															<option value="Karyawan BUMD" >Karyawan BUMD</option>
															<option value="Karyawan Honorer" >Karyawan Honorer</option>
															<option value="Buruh Harian Lepas" >Buruh Harian Lepas</option>
															<option value="Buruh Tani/Perkebunan" >Buruh Tani/Perkebunan</option>
															<option value="Buruh Nelayan/Perikanan" >Buruh Nelayan/Perikanan</option>
															<option value="Buruh Peternakan" >Buruh Peternakan</option>
															<option value="Pembantu Rumah Tangga" >Pembantu Rumah Tangga</option>
															<option value="Tukang Cukur" >Tukang Cukur</option>
															<option value="Tukang Listrik" >Tukang Listrik</option>
															<option value="Tukang Batu" >Tukang Batu</option>
															<option value="Tukang Kayu" >Tukang Kayu</option>
															<option value="Tukang Sol Sepatu" >Tukang Sol Sepatu</option>
															<option value="Tukang Las/Pandai Besi" >Tukang Las/Pandai Besi</option>
															<option value="Tukang Jahit" >Tukang Jahit</option>
															<option value="Penata Rambut" >Penata Rambut</option>
															<option value="Penata Rias" >Penata Rias</option>
															<option value="Penata Busana" >Penata Busana</option>
															<option value="Mekanik" >Mekanik</option>
															<option value="Tukang Gigi" >Tukang Gigi</option>
															<option value="Seniman" >Seniman</option>
															<option value="Tabib" >Tabib</option>
															<option value="Paraji" >Paraji</option>
															<option value="Perancang Busana" >Perancang Busana</option>
															<option value="Penterjemah" >Penterjemah</option>
															<option value="Imam Masjid" >Imam Masjid</option>
															<option value="Pendeta" >Pendeta</option>
															<option value="Pastur" >Pastur</option>
															<option value="Wartawan" >Wartawan</option>
															<option value="Ustadz/Mubaligh" >Ustadz/Mubaligh</option>
															<option value="Juru Masak" >Juru Masak</option>
															<option value="Promotor Acara" >Promotor Acara</option>
															<option value="Anggota DPR-RI" >Anggota DPR-RI</option>
															<option value="Anggota DPD" >Anggota DPD</option>
															<option value="Anggota BPK" >Anggota BPK</option>
															<option value="Presiden" >Presiden</option>
															<option value="Wakil Presiden" >Wakil Presiden</option>
															<option value="Anggota Mahkamah" >Anggota Mahkamah</option>
															<option value="Anggota Kabinet/Kementerian" >Anggota Kabinet/Kementerian</option>
															<option value="Duta Besar" >Duta Besar</option>
															<option value="Gubernur" >Gubernur</option>
															<option value="Wakil Gubernur" >Wakil Gubernur</option>
															<option value="Bupati" >Bupati</option>
															<option value="Wakil Bupati" >Wakil Bupati</option>
															<option value="Walikota" >Walikota</option>
															<option value="Wakil Walikota" >Wakil Walikota</option>
															<option value="Anggota DPRD Propinsi" >Anggota DPRD Propinsi</option>
															<option value="Anggota DPRD Kabupaten/Kota" >Anggota DPRD Kabupaten/Kota</option>
															<option value="Dosen" >Dosen</option>
															<option value="Guru" >Guru</option>
															<option value="Pilot" >Pilot</option>
															<option value="Pengacara" >Pengacara</option>
															<option value="Notaris" >Notaris</option>
															<option value="Arsitek" >Arsitek</option>
															<option value="Akuntan" >Akuntan</option>
															<option value="Konsultan" >Konsultan</option>
															<option value="Dokter" >Dokter</option>
															<option value="Bidan" >Bidan</option>
															<option value="Perawat" >Perawat</option>
															<option value="Apoteker" >Apoteker</option>
															<option value="Psikiater/Psikolog" >Psikiater/Psikolog</option>
															<option value="Penyiar Televisi" >Penyiar Televisi</option>
															<option value="Penyiar Radio" >Penyiar Radio</option>
															<option value="Pelaut" >Pelaut</option>
															<option value="Peneliti" >Peneliti</option>
															<option value="Sopir" >Sopir</option>
															<option value="Pialang" >Pialang</option>
															<option value="Paranormal" >Paranormal</option>
															<option value="Pedagang" >Pedagang</option>
															<option value="Perangkat Desa" >Perangkat Desa</option>
															<option value="Kepala Desa" >Kepala Desa</option>
															<option value="Biarawati" >Biarawati</option>
															<option value="Wiraswasta" >Wiraswasta</option>
															<option value="Buruh Migran" >Buruh Migran</option>
															<option value="Lainnya" >Lainnya</option>
														</select>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Golongan Darah</label>
														<select required="" class="form-control" name="goldarah">
															<option value="A">A</option>
															<option value="AB" >AB</option>
															<option value="B" >B</option>
															<option value="O" >O</option>
															<option value="A+" >A+</option>
															<option value="A-" >A-</option>
															<option value="AB+" >AB+</option>
															<option value="AB-" >AB-</option>
															<option value="O+" >O+</option>
															<option value="O-" >O-</option>
															<option value="Tidak Tahu" >TidakTahu</option>
														</select>
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Nama Lengkap Ayah</label>
														<input type="text" class="form-control" name="namaayah"  placeholder="Masukan Nama Ayah" value="" required="">
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Nama Lengkap Ibu</label>
														<input type="text" class="form-control" name="namaibu"  placeholder="Masukan Nama Ibu" value="" required="">
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Umur (Tahun)</label>
														<input type="text" class="form-control" name="tahun"  placeholder="Masukan Umur (Tahun)" value="" required="">
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Umur (Bulan)</label>
														<input type="text" class="form-control" name="bulan"  placeholder="Masukan Umur (Bulan)" value="" required="">
													</div>
												</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Kewarganegaraan</label>
														<select required="" class="form-control" name="warganegara">
															<option value="WNI">WNI</option>
															<option value="WNA">WNA</option>
														</select>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Pekerjaan Lainnya</label>
														<select required="" class="form-control" name="pekerjaanlain">
															<option value="Belum/Tidak Bekerja" >Belum/Tidak Bekerja</option>
															<option value="Mengurus Rumah Tangga" >Mengurus Rumah Tangga</option>
															<option value="Pelajar/Mahasiswa" >Pelajar/Mahasiswa</option>
															<option value="Pensiunan" >Pensiunan</option>
															<option value="Pegawai Negeri Sipil" >Pegawai Negeri Sipil</option>
															<option value="Tentara Nasional Indonesia" >Tentara Nasional Indonesia</option>
															<option value="Kepolisian RI" >Kepolisian RI</option>
															<option value="Perdagangan" >Perdagangan</option>
															<option value="Petani/Pekebun" >Petani/Pekebun</option>
															<option value="Peternak" >Peternak</option>
															<option value="Nelayan/Perikanan" >Nelayan/Perikanan</option>
															<option value="Industri" >Industri</option>
															<option value="Konstruksi" >Konstruksi</option>
															<option value="Transportasi" >Transportasi</option>
															<option value="Karyawan Swasta" >Karyawan Swasta</option>
															<option value="Karyawan BUMN" >Karyawan BUMN</option>
															<option value="Karyawan BUMD" >Karyawan BUMD</option>
															<option value="Karyawan Honorer" >Karyawan Honorer</option>
															<option value="Buruh Harian Lepas" >Buruh Harian Lepas</option>
															<option value="Buruh Tani/Perkebunan" >Buruh Tani/Perkebunan</option>
															<option value="Buruh Nelayan/Perikanan" >Buruh Nelayan/Perikanan</option>
															<option value="Buruh Peternakan" >Buruh Peternakan</option>
															<option value="Pembantu Rumah Tangga" >Pembantu Rumah Tangga</option>
															<option value="Tukang Cukur" >Tukang Cukur</option>
															<option value="Tukang Listrik" >Tukang Listrik</option>
															<option value="Tukang Batu" >Tukang Batu</option>
															<option value="Tukang Kayu" >Tukang Kayu</option>
															<option value="Tukang Sol Sepatu" >Tukang Sol Sepatu</option>
															<option value="Tukang Las/Pandai Besi" >Tukang Las/Pandai Besi</option>
															<option value="Tukang Jahit" >Tukang Jahit</option>
															<option value="Penata Rambut" >Penata Rambut</option>
															<option value="Penata Rias" >Penata Rias</option>
															<option value="Penata Busana" >Penata Busana</option>
															<option value="Mekanik" >Mekanik</option>
															<option value="Tukang Gigi" >Tukang Gigi</option>
															<option value="Seniman" >Seniman</option>
															<option value="Tabib" >Tabib</option>
															<option value="Paraji" >Paraji</option>
															<option value="Perancang Busana" >Perancang Busana</option>
															<option value="Penterjemah" >Penterjemah</option>
															<option value="Imam Masjid" >Imam Masjid</option>
															<option value="Pendeta" >Pendeta</option>
															<option value="Pastur" >Pastur</option>
															<option value="Wartawan" >Wartawan</option>
															<option value="Ustadz/Mubaligh" >Ustadz/Mubaligh</option>
															<option value="Juru Masak" >Juru Masak</option>
															<option value="Promotor Acara" >Promotor Acara</option>
															<option value="Anggota DPR-RI" >Anggota DPR-RI</option>
															<option value="Anggota DPD" >Anggota DPD</option>
															<option value="Anggota BPK" >Anggota BPK</option>
															<option value="Presiden" >Presiden</option>
															<option value="Wakil Presiden" >Wakil Presiden</option>
															<option value="Anggota Mahkamah" >Anggota Mahkamah</option>
															<option value="Anggota Kabinet/Kementerian" >Anggota Kabinet/Kementerian</option>
															<option value="Duta Besar" >Duta Besar</option>
															<option value="Gubernur" >Gubernur</option>
															<option value="Wakil Gubernur" >Wakil Gubernur</option>
															<option value="Bupati" >Bupati</option>
															<option value="Wakil Bupati" >Wakil Bupati</option>
															<option value="Walikota" >Walikota</option>
															<option value="Wakil Walikota" >Wakil Walikota</option>
															<option value="Anggota DPRD Propinsi" >Anggota DPRD Propinsi</option>
															<option value="Anggota DPRD Kabupaten/Kota" >Anggota DPRD Kabupaten/Kota</option>
															<option value="Dosen" >Dosen</option>
															<option value="Guru" >Guru</option>
															<option value="Pilot" >Pilot</option>
															<option value="Pengacara" >Pengacara</option>
															<option value="Notaris" >Notaris</option>
															<option value="Arsitek" >Arsitek</option>
															<option value="Akuntan" >Akuntan</option>
															<option value="Konsultan" >Konsultan</option>
															<option value="Dokter" >Dokter</option>
															<option value="Bidan" >Bidan</option>
															<option value="Perawat" >Perawat</option>
															<option value="Apoteker" >Apoteker</option>
															<option value="Psikiater/Psikolog" >Psikiater/Psikolog</option>
															<option value="Penyiar Televisi" >Penyiar Televisi</option>
															<option value="Penyiar Radio" >Penyiar Radio</option>
															<option value="Pelaut" >Pelaut</option>
															<option value="Peneliti" >Peneliti</option>
															<option value="Sopir" >Sopir</option>
															<option value="Pialang" >Pialang</option>
															<option value="Paranormal" >Paranormal</option>
															<option value="Pedagang" >Pedagang</option>
															<option value="Perangkat Desa" >Perangkat Desa</option>
															<option value="Kepala Desa" >Kepala Desa</option>
															<option value="Biarawati" >Biarawati</option>
															<option value="Wiraswasta" >Wiraswasta</option>
															<option value="Buruh Migran" >Buruh Migran</option>
															<option value="Lainnya" >Lainnya</option>
														</select>
														</div>
													</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Status Perkawinan</label>
														<select required="" class="form-control" name="status">
															<option value="Belum Kawin" >Belum Kawin</option>
															<option value="Kawin" >Kawin</option>
															<option value="Cerai Mati" >Cerai Mati</option>
															<option value="Cerai Hidup" >Cerai Hidup</option>
														</select>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Status Kependudukan</label>
														<select required="" class="form-control" name="kependudukan">
															<option value="Penduduk Tetap" >Penduduk Tetap</option>
															<option value="Penduduk Sementara" >Penduduk Sementara</option>
															<option value="Penduduk Pindah/Pindahan" >Penduduk Pindah/Pindahan</option>
														</select>
														</div>
													</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Status Tinggal</label>
														<select required="" class="form-control" name="statustinggal">
															<option value="Tinggal Tetap">Tinggal Tetap</option>
															<option value="Tinggal Di Luar Desa*" >Tinggal Di Luar Desa</option>
															<option value="Tinggal Di Luar Kota/Kabupaten" >Tinggal Di Luar Kota/Kabupaten</option>
															<option value="Tinggal Di Luar Propinsi" >Tinggal Di Luar Propinsi</option>
															<option value="Tinggal Di Luar Negeri" >Tinggal Di Luar Negeri</option>
														</select>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Penyandang Disabilitas</label>
														<select required="" class="form-control" name="disabilitas">
															<option value="Tidak cacat">Tidak cacat</option>
															<option value="Cacat Fisik" >Cacat Fisik</option>
															<option value="Cacat Netra/Buta" >Cacat Netra/Buta</option>
															<option value="Cacat Rungu/Wicara" >Cacat Rungu/Wicara</option>
															<option value="Cacat Mental/Jiwa" >Cacat Mental/Jiwa</option>
															<option value="Cacat Fisik/Mental" >Cacat Fisik/Mental</option>
															<option value="Cacat Lainnya" >Cacat Lainnya</option>
														</select>
														</div>
													</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Penggunaan Kontrasepsi</label>
														<select required="" class="form-control" name="kontrasepsi">
															<option value="Pil">Pil</option>
															<option value="Suntik" >Suntik</option>
															<option value="IUD" >IUD</option>
															<option value="Kondom" >Kondom</option>
															<option value="Implant" >Implant</option>
															<option value="MOP" >MOP</option>
														</select>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Resiko Kehamilan</label>
														<select required="" class="form-control" name="resiko_kehamilan">
															<option value="Resiko Tinggi" >Resiko Tinggi</option>
															<option value="Tidak Resiko Tinggi" >Tidak Resiko Tinggi</option>
														</select>
														</div>
													</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Kepemilikan Akta Lahir</label>
														<select required="" class="form-control" name="aktakelahiran">
															<option value="Ya">Ya</option>
															<option value="Tidak" >Tidak</option>
														</select>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">No Akta Lahir</label>
														<input type="text" class="form-control" name="noaktalahir"  placeholder="Masukan Nomor Akta Lahir" value="" required="">
														</div>
													</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Kepemilikan Akta Nikah</label>
														<select required="" class="form-control" name="aktanikah">
															<option value="Ya">Ya</option>
															<option value="Tidak" >Tidak</option>
														</select>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">No Akta Lahir</label>
														<input type="text" class="form-control" name="noaktanikah"  placeholder="Masukan Nomor Akta Nikah" value="" required="">
														</div>
													</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Kepemilikan Akta Cerai</label>
														<select required="" class="form-control" name="aktacerai">
															<option value="Ya">Ya</option>
															<option value="Tidak" >Tidak</option>
														</select>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">No Akta Cerai</label>
														<input type="text" class="form-control" name="noaktacerai"  placeholder="Masukan Nomor Akta Nikah" value="" required="">
														</div>
													</div>
												<!--/span-->
											</div>
											<!-- /Row -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">Kepemilikan Paspor</label>
														<select required="" class="form-control" name="paspor">
															<option value="Ya">Ya</option>
															<option value="Tidak" >Tidak</option>
														</select>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label mb-10">No Paspor</label>
														<input type="text" class="form-control" name="nopaspor"  placeholder="Masukan Nomor Paspor" value="" required="">
														</div>
													</div>
												<!--/span-->
											</div>
											<!-- /Row -->


											<!-- /Row -->
											<div class="row">
												<div class="col-lg-12">
													<div  class="panel-wrapper collapse in">
														<div  class="panel-body">
															<div class="form-actions mt-10" >

																	<button type="submit" name="subject"  value ="updatedata" class="btn btn-success btn-sm"><i class="zmdi zmdi-save mr-5"></i>  Tambah Data</button>

															</div>
														</div>
													</div>
												</div>
											</div>
										<!-- /Row -->

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>