<!doctype html>
<html lang="en">

<head>
  <title>Data Desa</title>
  <link href="/static/baru/vendors/bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
  <link href="/static/baru/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="row">
      <div class="col-sm-12">
         <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                  <div class="panel-body">
                    <div class="table-responsive">
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
  <script src="/static/baru/vendors/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/static/baru/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/baru/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="/static/baru/dist/js/jquery.slimscroll.js"></script>
  <script src="/static/baru/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
  <script src="/static/baru/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>
  <script src="/static/baru/dist/js/dropdown-bootstrap-extended.js"></script>
  <script src="/static/baru/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>
  <script src="/static/baru/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
  <script src="/static/baru/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/baru/vendors/bower_components/raphael/raphael.min.js"></script>
  <script src="/static/baru/vendors/bower_components/morris.js/morris.min.js"></script>
  <script src="/static/baru/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
  <script src="/static/baru/vendors/bower_components/switchery/dist/switchery.min.js"></script>
  <script src="/static/baru/dist/js/init.js"></script>
</body>
</html>
